<div class="text-end">
    <button type="button" class="btn btn-link"  (click)="redirecTo()">Iniciar sesión</button>
</div>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="addRegisterStudent()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="name" aria-describedby="name" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="email" (input)="onEmailInput()">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefono</label>
            <input type="email" class="form-control" id="phone" aria-describedby="phone" formControlName="phone">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary btn-form" [disabled]="this.registerForm.invalid">Registrarse</button>
    </form>
</div>
