.table-responsive {
    max-height: 200px; 
    overflow-y: auto;
  }
  
  .table th, .table td {
    white-space: nowrap; 
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #082645;
    margin-bottom: 5px;
}